<div class="container-fluid pt-1 shadow">
    <div class="row">
        <div class="col-6">
            <div class="d-flex ">
                <div class="p-2">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Mundi_pharma_Logo.svg/64px-Mundi_pharma_Logo.svg.png">
                </div>
                <div class="p-2 m-1 ">
                    <select class="custom-select bg-info" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-4 p-1">
                    <div class="btn btn-primary">+ New Project</div>
                </div>
                <div class="col-2 p-1">
                    <div class=" btn btn-primary">+New</div>
                </div>
                <div class="col-2 p-1">
                    <div class=" btn btn-primary">+New</div>
                </div>
                <div class="col-4 p-1">
                    <div class=" btn btn-primary">+New Project</div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet>
</router-outlet>
<app-main-dashboard></app-main-dashboard>