<div class="container-fluid  border p-4" style="background-color: #c6dbe2;">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active p-3 text-center" style="background-color: #c6dbe2;" data-toggle="tab"
                href="#home">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-3" data-toggle="tab" href="#menu1">Menu 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-3" data-toggle="tab" href="#menu2">Menu 2</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="container-fluid tab-pane active" id="home">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="row mb-4">
                        <div class="col-12 col-md-4 mt-4 mb-2 ">
                            <div class="text-center skill1 shadow">
                                <div class="card">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">Content</div>
                                    <div class="card-footer">Footer</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-4 mb-2">
                            <div class="text-center skill1 shadow">
                                <div class="card">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">Content</div>
                                    <div class="card-footer">Footer</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-4 mb-2">
                            <div class="text-center skill1 shadow">
                                <div class="card">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">Content</div>
                                    <div class="card-footer">Footer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="skill1 p-5 shadow-lg">
                            <canvas id="canvas">{{ chart }}</canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="row ">
                        <div class="col-md-12 col-12 mt-3">
                            <div id="myC" class="skill1 shadow-lg p-3" style="border-radius: 10px;">
                                <canvas id="myChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="text-center skill1 mt-2 shadow ">
                                <div class="card" style="font-size: 10px;">
                                    <div class="card-header">Header</div>

                                    <div class="card-footer">Footer</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="text-center skill1 mt-2 shadow ">
                                <div class="card" style="font-size: 10px;">
                                    <div class="card-header">Header</div>

                                    <div class="card-footer">Footer</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="text-center skill1 mt-2 shadow ">
                                <div class="card" style="font-size: 10px;">
                                    <div class="card-header">Header</div>

                                    <div class="card-footer">Footer</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="text-center skill1 mt-2 shadow ">
                                <div class="card" style="font-size: 10px;">
                                    <div class="card-header">Header</div>

                                    <div class="card-footer">Footer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12 p-3">
                            <div id="myC" class="skill2 p-3">
                                <canvas id="myChart2" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row shadow-lg mt-3">
                <div class="col-12 col-md-12 skill1">
                    <p class="m-1 pb-3" style="font-weight: bolder;">The Frequent keywords of the Quater</p>
                    <div class="d-md-flex flex-md-row justify-content-between">
                        <div *ngFor="let i of pills">
                            <div class="text-center m-1">
                                <div class="text-center skill3 mt-2">
                                    <p style="font-size: 10px; color: #000;" class="font-weight-bolder p-2">GBP512</p>
                                </div>
                                <div>
                                    <p>Found in<br>15 Publications</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 col-12 mb-2">
                    <div class="p-2 skill1 shadow-lg">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p>Best Picks in speciality</p>
                            </div>
                            <div>
                                <select class="custom-select bg-info" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div *ngFor="let i of users">
                            <div class="d-flex justify-content-between allign-items-center mb-2 text-center">
                                <div class="p-2 d-flex allign-items-center">
                                    <img class="align-self-center mr-4" src="{{i.avatar_url}}"
                                        alt="Generic placeholder image" style="width:50px; border-radius: 50%;">
                                    <div class=" text-center p-2">
                                        <p class="pt-2 pl-2">Dr.{{i.login}}</p>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="mt-0 pt-4"> {{i.id}} Points</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-12 mb-2">
                    <div class="p-2 skill1  shadow-lg">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p>Best Picks in speciality</p>
                            </div>
                            <div>
                                <select class="custom-select bg-info" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div *ngFor="let i of users">
                            <div class="d-flex justify-content-between allign-items-center mb-2 text-center">
                                <div class="p-2 d-flex allign-items-center">
                                    <img class="align-self-center mr-4" src="{{i.avatar_url}}"
                                        alt="Generic placeholder image" style="width:50px; border-radius: 50%;">
                                    <div class=" text-center p-2">
                                        <p class="pt-2 pl-2">Dr.{{i.login}}</p>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="mt-0 pt-4"> {{i.id}} Points</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-12 mb-2">
                    <div class="p-2 skill1 shadow-lg">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p>Best Picks in speciality</p>
                            </div>
                            <div>
                                <select class="custom-select bg-info" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div *ngFor="let i of users">
                            <div class="d-flex justify-content-between allign-items-center mb-2 text-center">
                                <div class="p-2 d-flex allign-items-center">
                                    <img class="align-self-center mr-4" src="{{i.avatar_url}}"
                                        alt="Generic placeholder image" style="width:50px; border-radius: 50%;">
                                    <div class=" text-center p-2">
                                        <p class="pt-2 pl-2">Dr.{{i.login}}</p>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="mt-0 pt-4"> {{i.id}} Points</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="container-fluid tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <div id="menu2" class="container-fluid tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam
                rem aperiam.</p>
        </div>

    </div>