
.skill1
{
	background-color:#ffffff;	
    border-radius: 10px;
}
.skill2
{
	background-color:#650ee7;	
    background-size: cover;
	border-radius: 10px;

}
.skill3{
    background-color: cornflowerblue;
    border-radius: 23px;
}